tr
{
	cursor: pointer;
}

td
{
	height: 30px;
}

#title-eu
{
	background:#052e48;
	color:white;
	text-align:center;
}

#instruction-eu
{
	background-color: #7db9e8;
	border-bottom: 5px solid #052e48;
}

#main-form-eu
{
	background:#7db9e8;
	border: 2px solid #052e48;
	border-radius: 12px;
}

.cmc-btn{
	margin-top: 10px !important;
	margin-bottom: 25px !important;
	background-color: #045a92;
	color: #EEEEEE;
	border-radius: 0px !important;
	border: none !important;	
	padding: 10px;
}

#search-table
{
	border: 2px solid #7db9e8;
}