*{
	font-family: "Century Gothic", Verdana, Arial;
}

#login-form{
	padding: 20px 15px 20px 15px;
	border: 1px solid green;
	background-color: #052e48;
	color: #EEEEEE;
	height: 500px;
}
#login-form form{
	margin: 100px auto;
}
#login-form form *{
	margin-top: 5px;
}

#login-form form .row{
	padding: 5px;
	margin: 5px;
}

#submit-btn{
	margin-top: 10px !important;
	margin-bottom: 25px !important;
	background-color: #045a92;
	color: #EEEEEE;
	border-radius: 0px !important;
	border: none !important;
	width: 100px;

}
#submit-btn:hover{
	background-color: #046aae;
}
