#head-fru
{
	background:#052e48;
	text-align:center;
	color:white;
}

#content-fru
{
	padding-top:15px;
	font-family: Georgia;
}

#row-register-user
{
}

#form-register-user
{
	text-align: left;
}

#combobox-register-user
{
	color: black;
}

.cmc-btn{
	margin-top: 10px !important;
	margin-bottom: 25px !important;
	background-color: #045a92;
	color: #EEEEEE;
	border-radius: 0px !important;
	border: none !important;	
	padding: 10px;
}

#main-form-ru
{
	background-color: #7db9e8;
	border: 2px solid #052e48;
	border-radius: 12px;
}