<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<link href="../css/bootstrap.min.css" rel="stylesheet">
	    <link href="../css/packTwoStyles.css" rel="stylesheet">
	    <script src="../js/jquery.js"></script>
	    <!--<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>-->
	    <script type="text/javascript">
    	$(function(){
    		/*$("#side-menu").animate({width:'toggle'},350);*/
    	});
    </script>
		<title>
			General Information
		</title>
	</head>

	<body>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

		<div  id="master-header" class="row">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
				<div>Bienvenido <label>Arturo Vazquez A</label></div>
				<div><label>17 de Junio del 2017</label></div>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-lg-offset-6 col-md-offset-6 col-sm-offset-6 col-xs-offset-6">
				<div style="text-align: right;"><b>Home</b>|<a href="../index.html">Cerrar Sesion</a></div>
				<div><img src="../img/logo-min.png"></div>
			</div>
		</div>

		<div class="row master-content">

			<div id="side-menu-container" class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
				<div id="side-menu">
					<a href="../index.html">
						<div class="side-menu-item">
						</div>
				</a>
				<div class="side-menu-item">
				</div>
				<div class="side-menu-item">
				</div>
				<div class="side-menu-item">
				</div>
				<div class="side-menu-item">
				</div>
				</div>
				<div id="side-menu-label" class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
					<span class="glyphicon glyphicon-triangle-right"></span>
				</div>
			</div>

			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" ></div>

			<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7" >
				<div style="text-align:center" class="row">
					<h3>INFORMACIÓN GENERAL DEL CLIENTE</h3>
				</div>
				<form role="form">
					<div class="form-group">
						<label>Nombre:</label>					
						<input id="name" type="input" class="form-control" placeholder="Chedraui S.A."></input>
						<label>Calle:</label>
						<input id="street" type="text" class="form-control" placeholder="Av. Ruiz Cortinez"></input>
						<label>Número:</label>
						<input id="number" type="text" class="form-control" placeholder="60"></input>
						<label>Colonia:</label>
						<input type="text" class="form-control" placeholder="Lomas de Chapultepec"></input>
						<label>Código Postal:</label>
						<input type="text" class="form-control" placeholder="90020"></input>
						<label>Municipio:</label>
						<input type="text" class="form-control" placeholder="Xalapa Enríquez"></input>
						<label>Estado:</label>
						<input type="text" class="form-control" placeholder="Veracruz"></input>
					</div>
					<div class="form-group">
						<label>Teléfono:</label>
						<div class="input-group">
							<span class="input-group-addon">#</span>
							<input type="text" class="form-control" placeholder="5581721732"></input>
						</div>
					</div>
					<div class="form-group">
						<label>E-mail:</label>
						<div class="input-group">
							<span class="input-group-addon">@</span>
							<input type="text" class="form-control" placeholder="chedraui@cuestamenos.com"></input>
						</div>
					</div>
					<br>
					<button type ="submit" class="btn btn-primary">Guardar</button>
				</form>
				<br>
				<br>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" ></div>		
		</div>
	</div>

	</body>
</html>