<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/masterPageStyles.css" rel="stylesheet">
    <link href="../css/createReportPageStyle.css" rel="stylesheet">
    <script type="text/javascript" src="../js/createReportScript.js"></script>
    <script type="text/javascript" src="../js/jquery.js"></script>
    <!--<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>-->
    <script type="text/javascript">
    	$(function(){
    		/*$("#side-menu").animate({width:'toggle'},350);*/
    		$("#side-menu-container").mouseenter(function(){
    			$(this).children("#side-menu-label").children("#icon-triangle").removeClass("glyphicon-triangle-right").addClass("glyphicon-triangle-left");
    		}).mouseleave(function(){
    			$(this).children("#side-menu-label").children("#icon-triangle").removeClass("glyphicon-triangle-left").addClass("glyphicon-triangle-right");
    		});
    	});
    </script>
	<title>Nuevo Reporte</title>
</head>

<body>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div id="master-header" class="row">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
				<div><label>Bienvenido</label> Arturo Vazquez A</div>
				<div><label>17 de junio 2017</label></div>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-lg-offset-6 col-md-offset-6 col-sm-offset-6 col-xs-offset-6">
				<div><b>Home</b>|<a href="../index.html">Cerrar Sesión</a></div>
				<div><img src="../img/logo-min.png"></div>
			</div>
		</div>

		<div class="row master-content">
			<div id="side-menu-container" class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
				<div id="side-menu">
					<a href="InfoGeneral.html">
						<div id="menu-gral" class="side-menu-item"></div>
					</a>
					<a href="normas.html">
						<div id="menu-normas" class="side-menu-item"></div>
					</a>
					<a href="auditorias.html">
						<div id="menu-auditorias" class="side-menu-item"></div>
					</a>
					<a href="reportes.html">
						<div id="menu-reportes" class="side-menu-item"></div>
					</a>
					<a href="usuarios.html">
						<div id="menu-usuarios" class="side-menu-item"></div>
					</a>
				</div>
				<div id="side-menu-label" class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
					<span class="glyphicon glyphicon-triangle-right"></span>
				</div>
			</div>
		</div>

		<div id="main-container">
			<div class="row">
				<br>
				<div id="title" class="well">
					<h3><td>NUEVO REPORTE</td></h3>
				</div>
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
					<div id="paper" class="well">
						<div id="texto" class="row">
							<div class="form-group">
								<label>Norma:</label> NOM-003-SEGOB-2011
							</div>
						</div>
						<br>
						<div id="cuadro-texto" class="row">
							<a href="#" class="close" aria-label="close" onclick="esconderA();">&times;</a>
							<textarea class="form-control" rows="7">
							Que el Plan Nacional de Desarrollo 2001-2006 definió como política interior, que el Ejecutivo Federal aumentara la capacidad preventiva del Sistema Nacional de Protección Civil y mitigara los efectos de los desastres, a partir de una mayor coordinación de esfuerzos intergubernamentales y de la promoción de la contribución ciudadana, estableciendo dentro de su objetivo rector 5, el transitar de un sistema de protección civil reactivo a uno preventivo con la corresponsabilidad y participación de los tres órdenes de gobierno, población y sectores social y privado.
							</textarea>
						</div>
						<br>
						<div id="cuadro-texto" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<a href="#" class="close" aria-label="close" onclick="esconderA();">&times;</a>
							<textarea class="form-control" rows="14">
								    Que el Plan Nacional de Desarrollo 2001-2006 definió como política interior, que el Ejecutivo Federal aumentara la capacidad preventiva del Sistema Nacional de Protección Civil y mitigara los efectos de los desastres, a partir de una mayor coordinación de esfuerzos intergubernamentales y de la promoción de la contribución ciudadana, estableciendo dentro de su objetivo rector 5, el transitar de un sistema de protección civil reactivo a uno preventivo con la corresponsabilidad y participación de los tres órdenes de gobierno, población y sectores social y privado.
							</textarea>
						</div>

						<div id="cuadro-texto"class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<a href="#" class="close" aria-label="close" onclick="esconderA();">&times;</a>
							<div style="padding-left:20px; padding-right:20px;" class="form-group">
								<img src="../img/croquis.jpg">
								<br>
								<label>Figura 1:</label>
								<input type="text" value="Introduzca la descripción de la imagen" class="form-control">
							</div>
						</div>
						<br>
						<div class="row">
							<div id="cuadro-texto" class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
								<a href="#" class="close" aria-label="close" onclick="esconderA();">&times;</a>
								<textarea class="form-control" rows="12">
								    Que el Plan Nacional de Desarrollo 2001-2006 definió como política interior, que el Ejecutivo Federal aumentara la capacidad preventiva del Sistema Nacional de Protección Civil y mitigara los efectos de los desastres, a partir de una mayor coordinación de esfuerzos intergubernamentales y de la promoción de la contribución ciudadana, estableciendo dentro de su objetivo rector 5, el transitar de un sistema de protección civil reactivo a uno preventivo con la corresponsabilidad y participación de los tres órdenes de gobierno, población y sectores social y privado.
							</textarea>
							</div>
							<div id="cuadro-texto" class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
								<a href="#" class="close" aria-label="close" onclick="esconderA();">&times;</a>
								<img id="maps" src="../img/maps.gif">
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</body>
</html>