<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/masterPageStyles.css" rel="stylesheet">
    <link href="../css/createReportPageStyle.css" rel="stylesheet">
    <script type="text/javascript" src="../js/createReportScript.js"></script>
    <script type="text/javascript" src="../js/jquery.js"></script>
	<title>Delete Report</title>
</head>

<body>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div id="master-header" class="row">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
				<div><label>Bienvenido</label> Arturo Vazquez A</div>
				<div><label>17 de junio 2017</label></div>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-lg-offset-6 col-md-offset-6 col-sm-offset-6 col-xs-offset-6">
				<div><b>Home</b>|<a href="../index.html">Cerrar Sesión</a></div>
				<div><img src="../img/logo-min.png"></div>
			</div>
		</div>

		<div class="row master-content">
			<div id="side-menu-container" class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
				<div id="side-menu">
					<a href="InfoGeneral.html">
						<div id="menu-gral" class="side-menu-item"></div>
					</a>
					<a href="normas.html">
						<div id="menu-normas" class="side-menu-item"></div>
					</a>
					<a href="auditorias.html">
						<div id="menu-auditorias" class="side-menu-item"></div>
					</a>
					<a href="reportes.html">
						<div id="menu-reportes" class="side-menu-item"></div>
					</a>
					<a href="usuarios.html">
						<div id="menu-usuarios" class="side-menu-item"></div>
					</a>
				</div>
				<div id="side-menu-label" class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
					<span class="glyphicon glyphicon-triangle-right"></span>
				</div>
			</div>
		</div>

		<div id="main-container">
			<div class="row">
				<br>
				<div id="title" class="well">
					<h3><td>NUEVO REPORTE</td></h3>
				</div>
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
					<div class="well"></div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
					
				</div>

			</div>
		</div>
	</div>
</body>
</html>