<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/masterPageStyles.css" rel="stylesheet">
    <link href="../css/deleteUserPageStyles.css" rel="stylesheet">
    <script type="text/javascript" src="../js/deleteUserScript.js"></script>
	<title>Delete User</title>
</head>

<body>

	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div id="master-header" class="row">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
				<div>Bienvenido <label>Arturo Vazquez A</label></div>
				<div>17 de junio 2017</div>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-lg-offset-6 col-md-offset-6 col-sm-offset-6 col-xs-offset-6">
				<div><b>Home</b>|<a href="../home.html">Cerrar Sesión</a></div>
				<div><img src="../img/logo-min.png"></div>
			</div>
		</div>

		<div class="row master-content">

			<div id="side-menu-container" class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
				<div id="side-menu">
					<a href="InfoGeneral.html">
						<div id="menu-gral" class="side-menu-item">
						</div>
					</a>
					<a href="normas.html">
						<div id="menu-normas" class="side-menu-item">
						</div>
					</a>
					<a href="auditorias.html">
						<div id="menu-auditorias" class="side-menu-item">
						</div>
					</a>
					<a href="reportes.html">
						<div id="menu-reportes" class="side-menu-item">
						</div>
					</a>
					<a href="usuarios.html">
						<div id="menu-usuarios" class="side-menu-item">
						</div>
					</a>
				</div>
				<div id="side-menu-label" class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
					<span class="glyphicon glyphicon-triangle-right"></span>
				</div>
			</div>

			<div id="main-content">
				<br>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>

				<div id="main-form-du" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

					<br>

					<div id="main-form-title" class="row">
						<h1><dt>ELIMINAR USUARIO</dt></h1>
					</div>

					<br>

					<div style="padding-left:15px; padding-right:15px;" class="row">
						<div class="instructions">
							<p><h4>Introduzca el nombre del usuario que desea eliminar</p>
						</div>
					</div>

					<br>

					<div id="form-search-user" class="row">
						<form >
						<div class="input-group">
							<input id="text-search" type="text" class="form-control" placeholder="Usuario...">
							<span class="input-group-btn">
								<button class="btn btn-default" type="button" onclick="clickSearchButton();">
									<span class="glyphicon glyphicon-search"></span>
								</button>
							</span>
						</div>
						</form>

						<br>

						<table id="table-result" class="table table-hover">

						<thead>
							<tr>
								<th>Nombre</th>
								<th>Dirección</th>
								<th>Teléfono</th>
								<th>E-mail</th>
							</tr>
						</thead>
						<tbody>
							<tr onclick="selectRow(this);">
								<td>Arturo Vazquez A</td>
								<td>Av. Ruiz Cortinez 123</td>
								<td>2281989898</td>
								<td>ava@cmc.com</td>
							</tr>
							<tr  onclick="selectRow(this);">
								<td>Chedraui S.A.</td>
								<td>Av. Ruiz Cortinez 60</td>
								<td>5581721732</td>
								<td>chedraui@cuestamenos.com</td>
							</tr>
						</tbody>
						</table>
						<div id="form-delete-button" class="row">
							<form >
								<button onclick="clickDeleteButton();" type="button" class="btn btn-danger">Eliminar</button>
							</form>
						</div>
						<br>
					</div>
				</div>
			</div>
			
		</div>

	</div>

</body>
</html>